table{
    margin: auto;
    border: 1px solid rgba(0,0,0,0.12);
    width: 800px;
}

table thead{
    background-color: #26a69a54;
}

td, th{
    padding: 5px;
}

td.name{
    width: 150px;
    cursor: pointer;
    max-width: 170px;
    overflow: scroll;
}

.high-priority{
    font-weight: bold;
    color: #26a69a;
}