table{
    margin: auto;
    border: 1px solid rgba(0,0,0,0.12);
    width: 800px;
}

td, th{
    padding: 5px;
}

td.name{
    width: 150px;
    cursor: pointer;
    max-width: 400px;
    overflow: hidden;
}